* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
  }
  
  html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }
  
 
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container,
  .container-1,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0);
    padding-left: var(--bs-gutter-x, 0);
    margin-right: auto;
    margin-left: auto;
  }
  
  .container-1 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .navbar {
    position: absolute !important;
    top: 1rem;
    right: 16%;
  }
  .section-1{
  background: url('images/LaBanner2.png') no-repeat; 
  display: flex;
  height: 72.5vh;
  width: auto;
  background-size: cover;
  }


  .navbar-link strong em {
    color: #fff;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    margin: 0 3rem;
    border-bottom: 1px solid var(--#414f6b;);
    
    

}
.navbar a{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.1rem;
}

.link-2 {
    margin-right: 20px; 
    
      
}


.link-2 {
    font-size: 2rem;
    margin: 1 3rem;
    transition: transform 0.5s;
    text-transform: uppercase;
    font-weight: 600;
  

}
.navbar2 {
   
    justify-content: flex-end;
    display: flex; 
    margin-right: auto; 
    margin-right: 26rem; 
    
}

.logo{
   
    
    margin-right: 50rem;
}

.logo0{
    margin-left: 60rem; }

.section3{
    background-image:url(images/Bg.png);
    display: flex;
    height: 90vh;
    width: auto;
    background-size: cover;
}
.em{
  color: #fff;
}
.ptag p{
    white-space: pre-line;
    margin-left: 38rem;
    font-size: 2rem;
}
.imagetag {
    display: inline-flex;
    margin-left: 36rem;
    margin-top: 5rem;

}
.carousel-container {
    overflow: hidden;
    width: 100%;
    position: relative;
    width: 100%;
    height: auto;
    position: absolute;
    background-color: rgba(65, 79, 107, 0.85);
    bottom: 10;
  }
  
  .carousel-slide {
  
  }
  
  .carousel-slide img {
    width: 10%;
    height: auto;
  }

.img-slider{
   width: 20%;
  transition: 2s;

}

.slide-container{

}

.slide{

}
.carousel{

    /* slideR       carousel*/
  width:800px;
  height:500px;
  border-radius: 10px;
  overflow: hidden;  




/* slides*      slide-input/
  width:500%;
  height: 500px;
  display:flex;




/* slide input */ 
  /* display: none; */

/* silde                img-slider     */
  /* width: 20%;
  transition: 2s; */

/* 
  slide imag
  width:800px;
  height:500px; */

}

.slide-input{
  
    width:500%;
    height: 500px;
    display:flex;
 
}


.navigation-manual{
positon:absolute;
width:800px;
margin-top:-40px;
display: flex;
justify-content:center;

}



.manual-btn{
border:2px solid #40D3DC;
padding:5px;
border-radius:10px;
cursor:pointer;
transition:1s;
}




.manual-btn:not(:nth-last-child){
    margin-right: 40px;
}







manual-btn:hover{
background:#40D3DC;

}



#radio:checked ~ .first{ 
margin-left: 0;
}


#radio2:checked ~ .first {
margin-left: 0%;}


#radio3:checked ~ .first {
margin-left: -20%;}



#radio4:checked ~ .first {
margin-left: -40%;}














.footer {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Adjust the width as needed */
    padding: 20px;
    background-color: #f0f0f0; /* Optional background color */
  }
  
  .left {
    display: flex;
    align-items: center;
  }
  
  .left img {
    width: 50px; /* Adjust the width as needed */
    margin-left: 20rem; /* Adjust the margin as needed */
  }
  
  .right {
    text-align: right;
    margin-right: 20rem;
  }
  li {
    display: list-item;
    text-align: -webkit-match-parent;
}


/* Custom CSS for buttons in one line */
.navmountain {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #414f6b;
  
  }
  
  .mountain1 {
    
    margin-left: 20px; /* Adjust the spacing between buttons */
  }
  
  /* Style for buttons */
  .mountain1 button {
    padding: 10px 15px;
    background-color: #9da0a3; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    /* border-radius: 5px; */
    cursor: pointer;
  }

  .mountain2 button {
    padding: 10px 15px;
    background-color: #9da0a3; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    /* border-radius: 5px; */
    cursor: pointer;
  }
  

  .mountain1 button:hover {
    background-color: #0056b3; /* Adjust the hover background color */
  }
  

  .tab11{
    background: url(images/tab1.png);
    height: 90vh;

  }

  .tab22{
    background: url(images/tab2.png);
    height: 90vh; 
  }